* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-family: 'Share Tech', sans-serif;
  /*
  font-size: 68px;
  display: flex;
   */
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
  
  width: 100%;
  height: 150vh;
  
  text-shadow: 8px 8px 10px #0000008c;
  background-color: #343a40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

div {
  border-radius: 5px;
  padding: 20px;
  /*
  backdrop-filter: blur(6px);
  background-color: #f2f2f211;
  background:black;
  background:rgba(0,0,0,0.8);
  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
  */
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

a {
  color: white;
}
a:visited {
  color: lightgreen;
}
a:hover {
  color: lightblue;
}
a:active {
  color: red;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

p {
  font-size: 20px;
}

form {
/*
  border-width: 20px;
  border-style: solid;
  border-color: orange;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
*/
  width: fit-content;
  background: rgb(54, 54, 54);
  background: rgba(54, 54, 54, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: contents;
}

input[type=password], input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #CD5C5C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #FF5C5C;
}

input[type=button] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

button {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #CD5C5C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
	/*border-collapse: collapse;*/
  float: left;
}

#main-thing {
  border-width: 14px;
  border-style: solid;
  border-color: orange;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: rgb(54, 54, 54);
  background: rgba(54, 54, 54, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: block;
  overflow: auto;
  min-width: 30%;
}

#container{
  height: 150px;
  width: 150px;
  background-color: rgba(255,255,255,0.5);
  position: relative;
}

#container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#content{
  height: 150px;
  width: 150px;
  background-color: rgba(0,0,0,0.5);
  margin:50px;
  position: absolute;
}

#content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#btn-container {
  float: left;
}

/* Style buttons */
.delete {
  background-color: #CD5C5C;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 4px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 3px;
  margin: 1px;
}

/* Darker background on mouse-over */
.delete:hover {
  background-color: #FF5C5C;
}

.edit {
  background-color: #2196f3;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 4px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 3px;
  margin: 1px;
}

/* Darker background on mouse-over */
.edit:hover {
  background-color: #03a9f4;
}

.submit {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit:hover {
  background-color: #8FD292;
}

.center {
  margin: auto;
  width: fit-content;
  padding: 10px;
  /* display : flex; */
  align-items : center;
  justify-content: center;
  position: absolute;
  top:15%;
  right:0;
  left:0;
}

.center-sub-element {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.background {
  background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /*
  height: 100vh;
  width: 100%;
  */
}

.table-header {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	background-color: #00000011;
	border-bottom: 4px solid grey;
}

.table-row {
	font-size: 1em;
	text-align: center;
	background-color: #11111111;
	border: 4px solid #f0000000;
}

